body {
    background: #f9f9f9;
}

img, video, iframe {
    background: #e0e9e3;
    border: none;
	text-align: center;
}

.full-width-media {
	width: 100%;
	height: auto;
	margin-left: -10px;
	margin-right: -10px;
}

p {
	text-align: justify;
}

#kurc-content {
	padding-left: 10px;
	padding-right: 10px;
}